<ng-container *ngIf="cart">
  <h1>Shopping Cart</h1>

  <div class="d-flex justify-content-between align-items-center mb-3">
    <p class="m-0">
      You have {{ cart.totalItemsCount }} items in your shopping cart.
    </p>

    <button mat-raised-button color="warn" (click)="openDialog(modal)">
      Clear Shopping Cart
    </button>
  </div>

  <table mat-table [dataSource]="cart.items" class="mat-elevation-z8">
    <!-- Image Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let cartItem" class="widthTd">
        <img [src]="cartItem.image" [alt]="cartItem.title" />
      </td>
      <td mat-footer-cell *matFooterCellDef>Total</td>
    </ng-container>

    <!-- Product Column -->
    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef>Product</th>
      <td mat-cell *matCellDef="let cartItem">
        {{ cartItem.title }}
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let cartItem">
        <product-card
          [product]="cartItem"
          [onlyQuantity]="true"
          [quantity]="cartItem.quantity"
        ></product-card>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let cartItem">
        {{ cartItem.totalPrice | currency }}
      </td>
      <td mat-footer-cell *matFooterCellDef>
        {{ cart.totalCartPrice | currency }}
      </td>
    </ng-container>

    <!-- actions (delete) Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let cartItem" class="widthTd">
        <button
          mat-icon-button
          color="primary"
          (click)="deleteProduct(cartItem.key)"
          aria-label="Example icon button with a home icon"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>

  <button
    mat-raised-button
    color="accent"
    routerLink="/shopping/checkOut"
    class="mt-4 float-end"
  >
    Check Out
  </button>
</ng-container>

<div class="text-center" *ngIf="empty">
  <img src="assets/empty-cart.png" alt="empty cart" class="empty" />
  <h4>Your Cart is Empty</h4>
  <button mat-raised-button color="accent" class="mt-4" routerLink="/">
    Go Home
  </button>
</div>

<!-- delete confirmation -->
<ng-template #modal let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete Post</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <p>Are you sure?</p>
  </div>
  <div class="modal-footer">
    <button mat-raised-button class="mb-2 ms-2" (click)="d('Cross click')">
      Cancel
    </button>
    <button
      mat-raised-button
      color="warn"
      class="mb-2 ms-2"
      (click)="clearCart(modal)"
    >
      Delete
    </button>
  </div>
</ng-template>
